.menu-button {
  width: 52px;
  height: 52px;
  background-image: url(/components/buttons/menu_button/more-menu-vertical-line.svg);
  background-position: center center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: 32px;
  cursor: no-drop;
}