.menu-button {
  width: 52px;
  height: 52px;
  background-image: url(/components/buttons/menu_button/more-menu-vertical-line.svg);
  background-position: center center;
  margin-left: 32px;
  cursor: pointer;
}
@import "./menu_button_tablet.scss"