$corporate_color: rgba(101, 211, 110, 1);
$primary-text_color: rgba(255, 255, 255, 1);
$secondary-text-color: rgba(191, 191, 191, 1);
$background_color: rgba(0, 0, 0, 1);
$hover_color: rgba(41, 41, 41, 1);
$active_color: rgba(68, 68, 68, 1);
$shadow_dark:rgba(0, 0, 0, 0.7);
$shadow_middle: rgba(0, 0, 0, 0.5);
$shadow_light: rgba(0, 0, 0, 0.2);
$social-media_color: rgba(255, 255, 255, 0.3);

$rounding_low: 8px;
$rounding_mean: 17px;
$rounding_large: 50px;

$desktop-width: 1440px;
$tablet-width: 843px;
$mobile-width: 375px;

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-content: center;
}
@mixin social-media_icon {
  width: 40px;
  height: 40px;
  background-color: $hover_color;
  border-radius: $rounding_low;
  margin-left: 12px;
  transition: 0.3s;
  cursor: pointer;
  flex-wrap: wrap;

  img {
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color: $social-media_color;
  }
}
@mixin footer_nav {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 97px;
    position: relative;

    a {
      display: inline-block;
      text-decoration: none;
      transition: 0.3s;
      color: $secondary-text-color;
      border-bottom: solid 1px rgba(255, 255, 255, 0);
      margin-bottom: 16px;

      &:hover {
        color: $primary-text_color;
        border-bottom: solid 1px $primary-text_color;
      }
    }
}