<section class="menu-container">
  <div class="menu-wrapper">
    <div class="home">
      <img src="../../assets/menu_icon/home-page.svg" alt="home-icon">
      <span>Home</span>
    </div>
    <div class="seach">
      <img src="../../assets/menu_icon/search.svg" alt="search-icon">
      <span>Search</span>
    </div>
    <div class="library">
      <img src="../../assets/menu_icon/library.svg" alt="library-icon">
      <span>Library</span>
    </div>
    <div class="liked-songs">
      <img src="../../assets/menu_icon/liked-songs.svg" alt="liked-songs-icon">
      <span>Liked songs</span>
    </div>
  </div>
</section>