.nav-wrapper {
  position: fixed;
  width: 100%;
  height: 84px;
  background-color: $shadow_middle;
  z-index: 2;
  @include flex_center;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: $desktop-width;
  width: 100%;
  margin: auto;
}
.nav-buttons {
  display: flex;
  margin-left: 52px;

  .nav-l__button {
    @include nav-button;
    @include flex_center;
  }
  .nav-r__button{
    @include nav-button;
    @include flex_center;
    margin-left: 21px;

    img {
      transform: rotate(180deg);
    }
  }
}
.user {
  @include flex_center;
  justify-content: start;
  width: 177px;
  height: 44px;
  background-color: $shadow_dark;
  border-radius: $rounding_large;
  margin: 6px 50px 0px 0px;
  cursor: pointer;

  img {
    margin-left: 3px;
  }
  .user-name {
    color: $primary-text_color;
    @include desktop_subheadline-text__bold;
    margin-left: 11px;
  }
}