<div class="song-container">
  <input
      id="song-name"
      type="radio"
      name="song"
      class="song-input">
    <label
        class="song-wrapper"
        for="song-name">
      <div class="song-number"><!--#--></div>
      <div class="cover__name-of-the-song__block">
        <img src="#" alt="cover">
        <div class="name-of-the-song">
          <p><!--#--></p>
          <h3><!--#--></h3>
        </div>
      </div>
      <div class="artists">
        <p>Artists</p>
        <h3 class="artists-name"><!--#--></h3>
      </div>
      <div class="song-time">
        <p>Time</p>
        <h3 class="time"><!--#--></h3>
      </div>
    </label>
    <div class="song-menu">
      <!-- menu -->
    </div>
</div>