<footer>
  <div class="footer-nav_wrapper">
    <div class="business__footer">
      <h2>Business</h2>
      <a href="#">Information</a>
      <a href="#">Work</a>
      <a href="#">Address</a>
    </div>

    <div class="society__footer">
      <h2>Society</h2>
      <a href="#">Advertisement</a>
      <a href="#">Investors</a>
      <a href="#">Suppliers</a>
    </div>
    <div class="useful-links_footer">
      <h2>Useful links</h2>
      <a href="#">Help</a>
      <a href="#">Contact</a>
      <a href="#">Mobile application</a>
    </div>
    <div class="social-media">
      <div class="facebook">
        <img src="../../assets/footer_icon/001-facebook-app-symbol.svg" alt="facebook_icon">
      </div>
      <div class="twitter">
        <img src="../../assets/footer_icon/002-twitter.svg" alt="twitter_icon">
      </div>
      <div class="instagram">
        <img src="../../assets/footer_icon/003-instagram.svg" alt="instagram_icon">
      </div>
    </div>
    <div class="copyright">
      <span>© 2023 Spotify</span>
    </div>
  </div>
</footer>