<footer>
  <div class="footer-nav_wrapper">
    <div class="business__footer">
      <h2>Business</h2>
      <a href="#">Information</a><br>
      <a href="#">Work</a><br>
      <a href="#">Address</a><br>
    </div>
    <div class="society__footer">
      <h2>Society</h2>
      <a href="#">Advertisement</a><br>
      <a href="#">Investors</a><br>
      <a href="#">Suppliers</a><br>
    </div>
    <div class="useful-links_footer">
      <h2>Useful links</h2>
      <a href="#">Help</a><br>
      <a href="#">Contact</a><br>
      <a href="#">Mobile Application</a><br>
    </div>
    <div class="social-media">
      <a href="#" class="facebook">
        <img src="../../assets/footer_icon/001-facebook-app-symbol.svg" alt="facebook_icon">
      </a>
      <a href="#" class="twitter">
        <img src="../../assets/footer_icon/002-twitter.svg" alt="twitter_icon">
      </a>
      <a href="#" class="instagram">
        <img src="../../assets/footer_icon/003-instagram.svg" alt="instagram_icon">
      </a>
    </div>
    <div class="copyright">
      <span>© 2023 Spotify</span>
    </div>
  </div>
</footer>