.play-list__page {
  position: relative;
  height: 433px;
  width: 100%;
  background-image: url(/assets/play-list_img/unnamed1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: center 65%;

  .play-list__header_text__wrapper {
    max-width: $desktop-width;
    padding-top: 155px;
    margin: auto;
  }
  .play-list__header_text_container {
    margin: auto auto auto 50px;

    p {
      @include desktop_subheadline-text__regular;
      color: $primary-text_color;
      margin: 0px
    }

    h1 {
      @include desktop_headline-text;
      color: $primary-text_color;
      margin-top: 25px;
    }
    .popular-songs_text {
      @include desktop_subheadline-text__regular;
      color: $secondary-text-color;
      margin-top: 23px;
    }
  }
}
.play-list {
  margin: auto;
  max-width: $desktop-width;
  padding: 32px 50px 25px 50px;
}
.buttons-block {
  display: flex;
  align-items: center;
}
.song-list {
  margin-top: 32px;
}