.play-list__page {
  position: relative;
  height: 433px;
  width: 100%;
  background-image: url(/assets/play-list_img/unnamed1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -68px;
}
