<div class="menu-playlist">
  <div class="add-to-queue__text text-wrapper">
    <p>Add to queue</p>
  </div>
  <div class="line"></div>
  <div class="go-to__text__container">
    <div class="text-wrapper">
      <p>Go to the track</p>
    </div>
    <div class="text-wrapper">
      <p>Go to the artist</p>
    </div>
    <div class="text-wrapper">
      <p>Go to album</p>
    </div>
    <div class="text-wrapper">
      <p>Show content authors</p>
    </div>
  </div>
  <div class="line"></div>
  <div class="add-playlist__text__container">
    <div class="text-wrapper">
      <p>Add to playlist</p>
    </div>
    <div class="text-wrapper">
      <div class="show-list">
        <p>Show content authors</p>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="share-text text-wrapper">
    <div class="show-list">
      <p>Share</p>
    </div>
  </div>
</div>